*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  font-size: var(--font-size-base);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: #000;
}

h1 {
  font-size: var(--h1-font-size);
}

h5 {
  font-size: 18px;
}

label {
  display: block;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
}

textarea {
  resize: vertical;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
