@use '../abstracts//mixins' as m;

:root {
  --font-family: 'Inter', sans-serif;
  --dark: #080b13;
  --gray: rgba(60, 55, 55, 0.8);
  --gray-2: #f1f1ef;
  --font-size-base: 16px;
  --green: #00ab26;

  @include m.mq(md) {
    --font-size-base: 24px;
  }
}
