@use '../abstracts/mixins' as m;

.container {
  width: 85%;
  max-width: 1320px;
  margin-inline: auto;
}

.hidden {
  display: none !important;
}

@include m.mq(md) {
  .block-md {
    display: block !important;
  }
}

.font-bold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 12px 65px;
  font-size: 20px;

  &-primary {
    --btn-bg: var(--dark);
    --btn-color: #fff;

    &:hover {
      --btn-bg: rgba(60, 55, 55, 0.8);
    }
  }
}
