@use '../../assets/scss/abstracts/mixins' as m;

.product {
  &__breadcrumb {
    margin-top: 12px;
    margin-bottom: 20px;

    @include m.mq(md) {
      margin-bottom: 12px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    @include m.mq(md) {
      flex-direction: row;
    }
  }

  &__card-img {
    background: var(--gray-2);
    width: 650px;
    margin-bottom: 12px;
    align-self: flex-start;

    @include m.mq(md) {
      margin-bottom: 0;
    }
  }

  &__card-body {
    @include m.mq(md) {
      padding: 0 32px;
    }
  }

  &__card-title {
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--gray);
    text-align: center;

    @include m.mq(md) {
      font-size: 28px;
      text-transform: uppercase;
      text-align-last: left;
      color: var(--dark);
      margin-bottom: 8px;
    }
  }

  &__card-subtitle {
    margin-bottom: 12px;
    font-size: 16px;
    text-align: center;

    @include m.mq(md) {
      margin-bottom: 32px;
      font-size: 28px;
      text-align-last: left;
    }
  }

  &__card-section-heading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
    text-align: center;
  }

  &__card-colors {
    display: flex;
    gap: 22px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 22px;

    @include m.mq(md) {
      margin-bottom: 32px;
      gap: 32px;
      justify-content: flex-start;
    }
  }

  &__card-radio {
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover,
    &--active {
      border-color: rgba(60, 55, 55, 0.8);
    }
  }

  &__card-color {
    display: block;
    width: 22px;
    height: 22px;

    @include m.mq(md) {
      width: 40px;
      height: 40px;
    }
  }

  &__card-sizes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 22px;

    @include m.mq(md) {
      margin-bottom: 32px;
      gap: 32px;
      justify-content: flex-start;
    }
  }

  &__card-size {
    padding: 12px;
  }

  &__card-btn {
    width: 100%;

    @include m.mq(md) {
      width: auto;
    }
  }
}
