.checkout {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 42px;
    gap: 70px;
  }

  .form__input {
    width: 100%;
  }

  &__form-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__form-group {
    margin-bottom: 56px;
  }

  &__form-group:first-child {
    > :not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__form-delivery-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__form-delivery-btn {
    padding: 12px 0 !important;
  }

  &__form-delivery-input:checked ~ &__form-delivery-btn {
    --btn-bg: var(--dark);
    --btn-color: #fff;
    cursor: auto;
  }

  &__form-group:nth-child(2),
  &__form-group:nth-child(3) {
    .form__label {
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__form-group:nth-child(3) {
    .form__label {
      margin-bottom: 8px;
    }

    div:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__form-agree {
    margin-bottom: 32px;

    .form__label {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      user-select: none;
    }
  }

  &__form-payment-card {
    margin-bottom: 20px;
  }

  &__form-payment-input:checked ~ &__form-payment-btn {
    --btn-bg: var(--dark);
    --btn-color: #fff;
    cursor: auto;
  }

  // Summary
  &__summary {
    width: 65%;
    margin-top: 60px;
    margin-left: auto;
  }

  &__summary-details {
    margin-bottom: 24px;

    li {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin-bottom: 8px;
    }
  }

  &__summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
  }
}
