.checkout {
  &__form-delivery-input:checked ~ &__form-delivery-btn {
    --btn-bg: var(--dark);
    --btn-color: #fff;
    cursor: auto;
  }

  &__form-payment-input:checked ~ &__form-payment-btn {
    --btn-bg: var(--dark);
    --btn-color: #fff;
    cursor: auto;
  }
}
