@use '../../assets/scss/abstracts/mixins' as m;

.products {
  margin-top: 116px;

  @include m.mq(md) {
    margin-top: 124px;
  }

  &__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 32px;

    @include m.mq(md) {
      font-size: 46px;
      margin-bottom: 12px;
    }
  }

  &__cards-header {
    display: flex;
    justify-content: space-between;
  }

  &__subheading {
    font-size: 14px;
    color: var(--dark);
    margin: 20px 0;

    @include m.mq(md) {
      font-size: 24px;
    }
  }

  &__sort {
    margin-left: 8px;
    text-transform: capitalize;
    color: var(--gray);
    outline: none;

    @include m.mq(md) {
      margin-left: 16px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 32px;

    @include m.mq(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card-img {
    background: var(--gray-2);
    margin-bottom: 12px;
  }

  &__card-body {
    text-align: center;
  }

  &__card-title {
    font-size: 10px;
    margin-bottom: 4px;
    color: var(--gray);

    @include m.mq(md) {
      font-size: 18px;
    }
  }

  &__card-price {
    font-size: 14px;
    font-weight: 500;

    @include m.mq(md) {
      font-size: 24px;
    }
  }
}
