@use '../../assets/scss/abstracts/mixins' as m;

.header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    @include m.mq(md) {
      padding: 28px 0;
    }
  }

  &__nav {
    display: flex;
    gap: 36px;
  }

  &__right {
    display: flex;
    gap: 36px;
  }

  button {
    font-weight: inherit;
    text-transform: inherit;
  }
}
