@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    color: #000;
  }

  h1 {
    font-size: var(--h1-font-size);
  }

  h5 {
    font-size: var(--font-size-md);
  }
}

@layer utilities {
  .hide-scrollbar {
    overflow-y: hidden;
    padding-right: 15px;
  }
}
