@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
    color: #000;
  }

  h1 {
    font-size: var(--h1-font-size);
  }

  h5 {
    font-size: var(--font-size-md);
  }
}

@layer components {
  .form-group {
    @apply flex gap-4;
  }

  .form-label {
    @apply text-xl font-medium mb-5;
  }

  .form-input {
    @apply border border-dark py-3 px-4 text-xl w-full;
  }

  .form-textarea {
    @apply h-28;
  }

  .form-checkbox-label {
    @apply flex items-center gap-5;
  }

  .form-checkbox-icon {
    @apply block w-6 h-6 border border-dark relative cursor-pointer before:hidden before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:w-5 before:h-5 before:bg-dark;
  }
}

@layer utilities {
  .hide-scrollbar {
    overflow-y: hidden;
    padding-right: 15px;
  }
}
